@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-display: 'Orbitron', cursive;
		--font-body: 'Inter', sans-serif;

		--color-primary: 0 82 155;
		--color-secondary: 108 182 248;
		--color-tertiary: 228 237 255;
	}

	html,
	body {
		@apply font-body bg-secondary;
	}

	label {
		@apply font-medium font-body text-zinc-700;
	}
}

@layer components {
	.logo {
		@apply relative flex items-center justify-center h-12 bg-white w-64;
		box-shadow: rgb(var(--color-primary)) 8px -8px 0px;
	}

	.card {
		@apply p-8 bg-white border border-zinc-500 rounded-3xl;
	}

	.heading {
		@apply font-bold text-primary;
	}

	.control {
		@apply w-full px-4 py-2 border rounded-lg border-zinc-500 focus:border-primary file:hidden;
	}

	@keyframes fade-up {
		0% {
			opacity: 0;
			transform: translateY(2rem);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.fade-up {
		animation: fade-up 0.5s ease-in-out;
	}

	@keyframes fade-left {
		0% {
			opacity: 0;
			transform: translateX(-100%);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	.fade-left {
		animation: fade-left 0.5s ease-in-out;
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.fade-in {
		animation: fade-in 0.5s ease-in-out;
	}
}
